{
	"presets": ["@babel/preset-env", "@babel/preset-react"],

	// Plugin babel-plugin-module-resolver para "apelidar"
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"@": "./src"
				}
			}
		]
	]
}
