{
  "presets": ["@babel/preset-env", "@babel/preset-react"],

  "plugins": [
    "@babel/plugin-proposal-class-properties",
    // Plugin babel-plugin-module-resolver para "apelidar"
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}
